<div class="bg-dark text-light mt-5 p-3">
    <div id="footer" class="container">
        <footer>
            Copyright &copy; @DateTime.Now.Year, AZUMATIC Software Development. All Rights Reserved.
        </footer>
    </div>
</div>